<div class="container-fluid pb-5 mb-5">

    <nav class="navbar nav-pills navbar-expand-sm fixed-top navbar-light bg-primary">

        <a href="#" class="navbar-brand">
            <img src="../../../assets/images/logo.jpeg" alt="" style="width:100px;">
        </a>


        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bankOptions">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="bankOptions">

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a href="/registerBankAccount" class="nav-link"> Register Account </a>
                </li>
                <li class="nav-item">
                    <a href="/listRegisterAccount" class="nav-link">Accounts </a>
                </li>
                <li class="nav-item">
                    <a href="/invest" class="nav-link"> Invest </a>
                </li>
                <li class="nav-item">
                    <a href="/listInvestment" class="nav-link">Investments </a>
                </li>
                <li class="nav-item">
                    <a href="/uniqueInvestment" class="nav-link">Investment</a>
                </li>

                <div style="margin-left: 600px">
                    <button class="btn " type="submit">
                        <a href="#" class="nav-link alert-danger">Logout</a>
                    </button>
                </div>

            </ul>
        </div>


    </nav>

</div>
<div class="container text-center bg-success">
    <h3 style="margin-top: 200px">{{"welcome "+name+" to the Banking Management System"}}</h3>